#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}
html, body{
  overflow: hidden;
}
.absolute{
  position: sticky;
}
.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
}

.table-wrapper::-webkit-scrollbar {
  display: none
}

.table {
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse; 
}
.static-btn{
  position: absolute;
  bottom: 50px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh; /* Full screen height */
  min-width: 100%;
  opacity: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.loading-spinner {

  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db; /* Blue color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}